body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(19, 36, 53);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

div {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #497eb3;
}

h1 {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 15px;
}
